@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.img-cont{
    overflow: hidden;
}
.img-cont img{
    transition: 0.3s all ease-in-out;
}
.img-cont img:hover{
    transform: scale(1.1);
}